:root {
  --color-darkest: #10363b;
  --color-wrong: #c25806;
  --color-right: #458876;
  --color-main: #aad1d6;
  --color-lightest: #e6f4f1;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400..600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 60%;
  font-family: "Manrope", sans-serif;
}
body {
  min-height: 100vh;
  padding: 4rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: var(--color-darkest);
  color: var(--color-lightest);
}

h1 {
  font-size: 9rem;
  display: flex;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}
img:hover {
  transform: scale(1.5) scaleX(-1);
  transition: all 0.5s ease-out;
}
