:root {
  --color-darkest: #10363b;
  --color-wrong: #c25806;
  --color-right: #458876;
  --color-options: #264448;
  --color-main: #aad1d6;
  --color-lightest: #e6f4f1;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 60%;
  font-family: "Manrope", sans-serif;
}
body {
  min-height: 100vh;
  padding: 4rem;
  font-weight: 500;
  font-style: normal;
  background-color: var(--color-darkest);
  color: var(--color-lightest);
}

.main {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  margin: 0 auto;
  /* margin-top: 1rem; */
}

h1 {
  font-size: 9rem;
  display: flex;
  align-items: center;
}

button {
  font-family: "Manrope", sans-serif;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45rem;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: var(--color-wrong);
}

.er-img {
  width: 50px;
  height: 50px;
  margin-right: -1rem;
}

.finished {
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
  margin-top: 15rem;
  border-radius: 3rem;
  background-color: var(--color-main);
  color: var(--color-darkest);
}
.best-result {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
.restart-btn {
  cursor: pointer;
  border: none;
  margin: 10rem auto;
  border-radius: 2.5rem;
  width: 15rem;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  background-color: var(--color-main);
}
.restart-btn:hover {
  background-color: var(--color-right);
  color: var(--color-lightest);
  transform: scale(0.96);
  transition: all 0.2s ease-out;
}
